{% extends "layouts/app.twig" %}


{% block content %}

    <div class="container mx-auto flex flex-col p-4">
        <h1 class="text-gray-700 font-extralight text-6xl">Home</h1>
    </div>

{% endblock %}
